<!doctype html>
<html>
  <head>
    <title>Create Student</title>
  </head>
  <body>
    <h1><a href="{{ url_for('index') }}">Students App</a></h1>

    <h2>Create Student</h2>

    <form method="post">
      {{ form.csrf_token }}

      <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name() }}
      </p>

      <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name() }}
      </p>

      <p>
        {{ form.email.label }}<br>
        {{ form.email() }}
      </p>

      <p>
        {{ form.submit(value="Create") }}
        <a href="{{ url_for('index') }}">Cancel</a>
      </p>
    </form>
  </body>
</html>
