<!doctype html>
<html>
  <head>
    <title>Students App - Edit Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="p-4">
    <div class="container">
      <h1><a href="{{ url_for('index') }}">Students CRUD</a></h1>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, msg in messages %}
            <div class="alert alert-{{ category }}">{{ msg }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h2>Edit Student</h2>
      <form method="post">
        {{ form.csrf_token }}

        <div class="mb-3">
          {{ form.first_name.label }}
          {{ form.first_name(class="form-control") }}
        </div>

        <div class="mb-3">
          {{ form.last_name.label }}
          {{ form.last_name(class="form-control") }}
        </div>

        <div class="mb-3">
          {{ form.email.label }}
          {{ form.email(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-primary", value="Update") }}
        <a href="{{ url_for('show_student', student_id=student.id) }}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </body>
</html>